NODE_ENV=development
APP_NAME=hatch
#DATABASE
DB_DIALECT=postgres
DB_PASS=postgres
DB_USER=postgres
DB_NAME=domino
DB_HOST=localhost
DB_PORT=5432
DB_LOGGING=false

#AWS CONFIG
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=eu-central-1
AWS_S3_BUCKET=dailyo-ai-images

#APPLE CONFIG
APPLE_CLIENT_ID=dasdsaodmio

#GOOGLE CONFIG
GOOGLE_CLIENT_ID=some-token-from-console

#AUTH CONFIG
JWT_SECRET=dasjhjbdsahdnjasldsa
OPENAI_API_KEY=asdsadsdsadsads
OPENAI_MODEL=gpt-4o

APIFY_TOKEN=eadasd

PARSER_API_URL=smth.com

#REDIS CONFIG (UPSTASH - UPDATE THESE AFTER CREATING UPSTASH REDIS)
REDIS_HOST=wa
REDIS_PORT=6379
REDIS_PASSWORD=pass